name: project template

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: 3.11
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
    - name: Format with Black
      run: black .
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: pytest
    - name: Build MkDocs site
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: mkdocs gh-deploy --force -f mkdocs/mkdocs.yml
    - name: Update Readme Tree
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: python scripts/update_readme_tree.py
